#game-header {
  flex-grow: 1;
}

#game-main {
  height: var(--grid-width);
  display: flex;
  gap: 30px;
}

#game-info {
  width: 100%;
  display: flex;
}

@media (max-width: 800px) {
  #game-header {
    height: 10%;
  }

  #game-main {
    flex-direction: column-reverse;
    height: 90%;
  }

  #game-info {
    height: 50%;
  }
}

@media (min-width: 800px) and (min-height: 1000px) {
  #game-main {
    flex-direction: column-reverse;
    height: 80%;
  }

  #game-info {
    height: 50%;
  }
}

.info-column {
  width: calc(100% / 3);
  height: 100%;
}
