#home-page > .content > header {
  height: 20%;
} 

#home-page > .content > main {
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

#play-button {
  font-size: 8rem;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  #home-page > .content > header {
    height: 20%;
  } 
  
  #home-page > .content > main {
    height: 40%;  
  }
}
