#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.grid-cell {
  cursor: pointer;
}

.grid-cell-empty-1 {
  background-color: var(--blue-light);
}

.grid-cell-empty-2 {
  background-color: var(--blue-dark);
}

.grid-cell-target {
  background-color: red;
}

.grid-cell > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}