.textbox {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.textbox > h2 {
  font-size: 8vh;
  line-height: 0.7;
}

@media (max-aspect-ratio: 1/1){
  .textbox > h2 {
    font-size: 10vw;
  }
}
