@import 'utils.css';
@import 'layout.css';
@import './components/header.css';
@import './components/game-info.css';
@import './components/column-1.css';
@import './components/column-2.css';
@import './components/column-3.css';
@import './components/game.css';

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Brady Bunch';
  color: var(--blue-dark);
  line-height: 1;
}

body {
  padding: 5% 10%;
  height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 768px) {
  body {
    padding: 5%;
  }
}
