@import 'utils.css';
@import 'layout.css';
@import 'game-info.css';
@import 'game.css';

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 5% 10%;
  height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 768px) {
  body {
    padding: 5%;
  }
}
